/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp
autom4te.cache
/autoscan.log
/autoscan-*.log
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure.scan
/configure~
stamp-h1
/build/
